.peopleName{
    color: white;
    display: grid;
    grid-template-columns: repeat(2,1fr);    

}
h1{
    color:tomato;
    margin-left: 47%;
}
.starwarspeopleName{
    color: white;
    background-color: #242424;
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 5px; 
    height: 30px;
    width: 30%;
    font-size: 1.2rem;
    grid-column-gap: 0px;
    margin-left: 20%;
    
}
.starwarspeople{
    display: flex;
    flex-direction: row;
}
@media screen and (max-width: 960px) {
    .peopleName{
        margin-left: 10%;
    }
    .starwarspeopleName{
        height: 30px;
        width: 50%;       
    }   
}
@media screen and (max-width: 414px) {
    .peopleName{
        margin-left: 1%;
    }
    .starwarspeopleName{
        height: 50px;
        width: 50%;       
    }      
}